:root {
  --c-theme-100: #ffcdb3;
  --c-theme-300: #ffb6a3;
  --c-theme-500: #e6999c;
  --c-theme-700: #b4838d;
  --c-theme-900: #6c6774;
  --c-action-300: #81c14b;
  --c-action-500: #2e933c;
  --c-error-300: hsl(3, 49%, 53%);
  --c-error-500: hsl(18, 67%, 38%);
  --c-white: #ededed;
  --c-black: #333333;
  --ff-text: 'PT Sans Caption';
  --ff-display: 'Yuji Boku';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  background-color: var(--c-white);
  color: var(--c-black);
  font-family: var(--ff-text);
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* # == TYPOGRAPHY == # */

h1,
.h1 {
  font-size: 2.058em;
}

h2,
.h2 {
  font-size: 1.618em;
}

h3,
.h3 {
  font-size: 1.272em;
}

.display {
  font-family: var(--ff-display);
}

/* # == LAYOUT == # */

header.app {
  padding: 0.75rem 0;
  background-image: linear-gradient(var(--c-theme-100), var(--c-theme-500));
  color: var(--c-theme-900);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

header > * {
  width: 100%;
}

main.app {
  flex: 1;
  display: flex;
}

footer.app {
  background-image: linear-gradient(var(--c-theme-100), var(--c-theme-500));
  color: var(--c-theme-900);
  padding: 0.5em 0;
}

footer.app > p {
  display: flex;
  justify-content: center;
  gap: 1em;
}

/* # == MAIN == # */

/* -- user interface -- */

.ui-panel {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.button {
  height: 2em;
  padding: 0.5em 1em 2em;
  background-image: linear-gradient(var(--c-theme-700), var(--c-theme-900));
  color: var(--c-white);
  font-family: var(--ff-text);
  font-weight: 700;
  border-radius: 0.125rem;
  border: none;
  cursor: pointer;
}

.button-action {
  background-image: linear-gradient(var(--c-action-300), var(--c-action-500));
}

.button-error {
  background-image: linear-gradient(var(--c-error-300), var(--c-error-500));
}

.button:hover {
  filter: brightness(1.2) contrast(0.83);
}

.button:active {
  filter: brightness(0.6) contrast(1.67);
}

.grammar-input {
  padding: 0.5em;
  background-color: var(--c-white);
  color: var(--c-black);
  font-family: var(--ff-text);
  border: none;
  outline: solid 3px var(--c-white);
  outline-offset: -3px;
  transition: outline-offset 150ms;
}

.grammar-input:focus {
  outline-offset: 2px;
  /* outline-color: var(--c-theme-500); */
}

.config {
  position: fixed;
  right: 1rem;
  top: 4rem;
  bottom: 3.5rem;
  width: 30vw;
  padding: 1em;
  background-image: linear-gradient(
    30deg,
    var(--c-theme-300),
    var(--c-theme-100)
  );
  box-shadow: inset 0 0 2rem 2rem var(--c-theme-100);
  border: solid 0.25rem var(--c-theme-700);
  border-radius: 0.25rem;
  transform: translateY(-100vh);
  transition: transform 350ms;
  z-index: 1;
  overflow-x: auto;
}

.config-visible {
  transform: translateY(0);
}

.config > * + * {
  margin-top: 1rem;
}

.config input {
  border: none;
  border-radius: 0.25em;
}

.node-built-in {
  display: flex;
  gap: 1em;
}

.node-built-in > *:first-child {
  width: 2em;
  text-align: center;
}

.config-nodes-custom {
  display: grid;
  grid-template-columns: 1fr repeat(4, min-content);
  gap: 0.75em 0;
  text-align: center;
}

.config-nodes-custom > div {
  display: contents;
}

.config-heading {
  padding: 0 0.5em;
}

.node-name {
  padding: 0 0.5em;
}

.node-color {
  margin: 0 1rem;
}

.node-angle {
  width: 4em;
  padding: 0 0.5em;
}

.node-delete {
  width: min-content;
  padding: 0 1em;
  margin-left: 1rem;
}

.config-add {
  display: flex;
  justify-content: center;
}

.rule {
  display: flex;
  gap: 1em;
}

.rule + .rule {
  margin-top: 0.25em;
}

.rule > input {
  flex: 1;
  text-align: center;
}
